include neokant/pipeline/workflow/Snakefile
include neokant/pipeline/workflow/scripts/*
include neokant/pipeline/workflow/envs/*
include neokant/pipeline/workflow/rules/*
include neokant/pipeline/examples/*
include neokant/pipeline/config/*

