include k4neo/pipeline/workflow/Snakefile
include k4neo/pipeline/workflow/scripts/*
include k4neo/pipeline/workflow/envs/*
include k4neo/pipeline/workflow/rules/*
include k4neo/pipeline/examples/*
include k4neo/pipeline/config/*

